
@using X.PagedList.Mvc
@using X.PagedList
@using BookStore.Web.Models
@model IEnumerable<Book>

@{
    ViewBag.Title = "Index";
}

<h2>BookList</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <a href="~/Book/Details/@item.BookId">
        <div class="col-md-3 col-sm-4">
            <p>
                <img src="@item.AlbumArtUrl" />
            </p>
            <p>@item.Title</p>
        </div>
        </a>
    }

</div>
@Html.PagedListPager((IPagedList<Book>)Model, p => Url.Action("Index",
new { pageNumber = p }))